.error {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.error h1 {
    margin: 6px;
}

.error .link {
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 8px;
}